docs/n8n/workflow/Task Plan and Test Plan Generation v1 (test).json
{
  "name": "Task Plan and Test Plan Generation v1 (test)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-400, 240],
      "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
      "name": "Trigger_Manual",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "t860-set1",
              "name": "phase_id",
              "value": 1,
              "type": "number"
            },
            {
              "id": "t860-set2",
              "name": "phase_dir_id",
              "value": "phase-8-0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-160, 240],
      "id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
      "name": "SET_TestTodoList"
    },
    {
      "parameters": {
        "jsCode": "// 테스트용 Todo 항목 생성 (phase_id, phase_dir_id는 SET_TestTodoList에서)\nconst raw = $input.first().json;\nconst phaseId = raw.phase_id ?? 1;\nconst phaseDirId = String(raw.phase_dir_id || 'phase-8-0').trim();\nconst todoItems = [\n  { index: 1, content: '테스트 Task 1: README.md 존재 확인' },\n  { index: 2, content: '테스트 Task 2: docs/phases/phase-8-0/tasks 폴더 생성' }\n];\nreturn todoItems.map((t) => ({ json: { index: t.index, content: t.content, phase_id: phaseId, phase_dir_id: phaseDirId } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 240],
      "id": "c3d4e5f6-a7b8-4c5d-0e1f-2a3b4c5d6e7f",
      "name": "JS_ExpandTodoItems"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [320, 240],
      "id": "d4e5f6a7-b8c9-4d5e-1f2a-3b4c5d6e7f8a",
      "name": "LOOP_TodoItems"
    },
    {
      "parameters": {
        "jsCode": "// 테스트용: 고정 Task Plan / Test Plan 텍스트 생성 (base64로 CMD 전달용) + plan_md_path(경로 기반 실행용)\nconst item = $input.first().json;\nconst index = item.index;\nconst content = item.content || '';\nconst phaseId = item.phase_id ?? 1;\nconst taskPlan = `# Task Plan: ${content}\\n\\n## 목표\\n${content}를 수행한다.\\n\\n## 단계\\n1. 작업 대상 확인\\n2. 필요 시 파일/폴더 생성\\n3. 완료 기준 충족 확인\\n\\n## 완료 기준\\n- 작업이 반영되어 저장됨\\n`;\nconst testPlan = `# Test Plan: ${content}\\n\\n## 테스트 시나리오\\n- 작업 결과물 존재 여부 확인\\n\\n## 예상 결과\\n- 파일 또는 폴더가 생성/수정됨\\n`;\nconst b64 = (s) => Buffer.from(s, 'utf8').toString('base64');\nconst planMdPath = `docs/phases/tasks/task-${index}-plan.md`;\nconst testPlanMdPath = `docs/phases/tasks/task-${index}-test.md`;\nreturn [{\n  json: {\n    index,\n    content,\n    phase_id: phaseId,\n    task_name: content.substring(0, 80),\n    plan_doc: taskPlan,\n    test_plan_doc: testPlan,\n    plan_md_path: planMdPath,\n    test_plan_md_path: testPlanMdPath,\n    plan_b64: b64(taskPlan),\n    test_b64: b64(testPlan)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 80],
      "id": "e5f6a7b8-c9d0-4e5f-2a3b-4c5d6e7f8a9b",
      "name": "JS_CreateTaskPlanAndTestPlan"
    },
    {
      "parameters": {
        "command": "=mkdir -p /workspace/{{ $json.task_dir_path }} 2>/dev/null; echo '{{ $json.plan_b64 }}' | base64 -d > /workspace/{{ $json.task_dir_path }}/{{ $json.plan_filename }}; echo '{{ $json.test_b64 }}' | base64 -d > /workspace/{{ $json.task_dir_path }}/{{ $json.test_filename }}; echo OK",
        "options": {}
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [800, 80],
      "id": "f6a7b8c9-d0e1-4f5a-3b4c-5d6e7f8a9b0c",
      "name": "CMD_WriteTaskFiles"
    },
    {
      "parameters": {
        "jsCode": "// Execute Command 노드는 출력으로 { exitCode, stdout, stderr }만 넘기므로,\n// DB_InsertWorkflowTask가 쓸 plan 데이터는 이전 노드(JS_CreateTaskPlanAndTestPlan) 출력에서 가져옴.\nconst planData = $('JS_CreateTaskPlanAndTestPlan').item.json;\nreturn [{ json: planData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 80],
      "id": "e0f1a2b3-c4d5-4e6f-0a1b-2c3d4e5f6a7b",
      "name": "JS_PassPlanToDb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_tasks (phase_id, task_name, status, plan_doc, test_plan_doc, plan_md_path, created_at) VALUES ($1, $2, 'pending', $3, $4, $5, NOW()) RETURNING id",
        "options": {
          "queryReplacement": "={{ $json.phase_id }},={{ $json.task_name }},={{ $json.plan_doc }},={{ $json.test_plan_doc }},={{ $json.plan_md_path }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1040, 80],
      "id": "a7b8c9d0-e1f2-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "DB_InsertWorkflowTask",
      "credentials": {
        "postgres": {
          "id": "tbx7tKTwKOdsxhQc",
          "name": "PostgreSQL - PAB Knowledge"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "authentication": "botToken",
        "guildId": {
          "mode": "id",
          "value": "YOUR_DISCORD_GUILD_ID"
        },
        "sendTo": "channel",
        "channelId": {
          "mode": "id",
          "value": "YOUR_DISCORD_CHANNEL_ID"
        },
        "content": "=📋 Task Plan & Test Plan 생성 완료 (테스트)\n\nphase_id: {{ $node[\"SET_TestTodoList\"].json.phase_id }}\nphase_dir_id: {{ $node[\"SET_TestTodoList\"].json.phase_dir_id }}\n저장 경로: docs/phases/{{ $node[\"SET_TestTodoList\"].json.phase_dir_id }}/tasks/\n생성된 Task는 workflow_tasks에서 확인하세요."
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [560, 400],
      "id": "b8c9d0e1-f2a3-4b5c-7d8e-9f0a1b2c3d4e",
      "name": "DISCORD_SendTaskPlansComplete",
      "credentials": {
        "discordBotApi": {
          "id": "YOUR_DISCORD_CREDENTIAL_ID",
          "name": "Discord Bot account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger_Manual": {
      "main": [
        [
          { "node": "SET_TestTodoList", "type": "main", "index": 0 }
        ]
      ]
    },
    "SET_TestTodoList": {
      "main": [
        [
          { "node": "JS_ExpandTodoItems", "type": "main", "index": 0 }
        ]
      ]
    },
    "JS_ExpandTodoItems": {
      "main": [
        [
          { "node": "LOOP_TodoItems", "type": "main", "index": 0 }
        ]
      ]
    },
    "LOOP_TodoItems": {
      "main": [
        [
          { "node": "JS_CreateTaskPlanAndTestPlan", "type": "main", "index": 0 }
        ],
        [
          { "node": "DISCORD_SendTaskPlansComplete", "type": "main", "index": 0 }
        ]
      ]
    },
    "JS_CreateTaskPlanAndTestPlan": {
      "main": [
        [
          { "node": "CMD_WriteTaskFiles", "type": "main", "index": 0 }
        ]
      ]
    },
    "CMD_WriteTaskFiles": {
      "main": [
        [
          { "node": "JS_PassPlanToDb", "type": "main", "index": 0 }
        ]
      ]
    },
    "JS_PassPlanToDb": {
      "main": [
        [
          { "node": "DB_InsertWorkflowTask", "type": "main", "index": 0 }
        ]
      ]
    },
    "DB_InsertWorkflowTask": {
      "main": [
        [
          { "node": "LOOP_TodoItems", "type": "main", "index": 0 }
        ]
      ]
    },
    "DISCORD_SendTaskPlansComplete": {
      "main": []
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c7d8e9f0-a1b2-4c3d-5e6f-7a8b9c0d1e2f",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "ed06bbf2aa09f554ed7e8c76b92a7efe2c99d006253d946ef141c545bbf8fafb"
  },
  "id": "TaskPlanGenV1Test",
  "tags": []
}
